<% if @users %>
  <table class='users'>
    <thead>
      <tr>
        <th>Developer Name</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope='row'><%= user.name %></th>
          <td><%= user.level.try(:humanize) %> Developer</td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

