// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$azure-radiance: #3e86ff;
$black: #000;
$cinnabar: #d42d28;
$dodger-blue: #1193f5;
$dodger-blue-gradient: rgba(17, 147, 245, 0.90);
$cornflower-blue: #0f8ae7;
$cornflower-blue-gradient: rgba(15, 138, 231, 0.90);
$gallery-white: #eee;
$hot-hot-pink: #ff50d6;
$mariner: #0c73d4;
$razzle-dazzle-rose: #d415a1;
$red-orange: #f6402d;
$red-orange-gradient: rgba(248, 66, 47, 0.90);
$robins-egg-blue: #00cccc;
$robins-egg-blue-gradient: rgba(0, 166, 167, 0.95);
$sunset-orange: #ff4f4c;
$white: #fff;

* {
  box-sizing: border-box;
}

body {
  color: $white;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  width: 30rem;
  padding: 1.25rem;
}

html {
  background: linear-gradient(
  $cornflower-blue-gradient,
  $cornflower-blue-gradient
  ),
  url("https://s3.amazonaws.com/two-app/dc_map.png") no-repeat center center fixed;
}

.logo a {
  color: $white;
  font-size: 2.5rem;
  text-decoration: none;
}

sub {
  font-size: 0.75rem;
}

form {
  > div {
    background: $white;
    border-bottom: 1px solid $gallery-white;
    position: relative;

    > label {
      color: $black;
      font-weight: 900;
      left: 1.25rem;
      padding-left: 1.875rem;
      opacity: 0.3;
      position: absolute;
      top: 1.25rem;
    }

    > input[type="radio"] {
      background: $gallery-white;
      border: 0;
      height: 3.3rem;
      margin-left: 1.25rem;
      padding: 1.25rem 1.25rem 1.25rem 3.125rem;
      width: 100%;
    }

    > input[type="text"] {
      background: $gallery-white;
      border: 0;
      font-size: 1rem;
      padding: 1.25rem 1.25rem 1.25rem 3.125rem;
      width: 100%;

      &:focus {
        background: $white;

        & + label {
          opacity: 0;
        }
      }

      &:valid {
        background: url("https://s3.amazonaws.com/two-app/check.svg");
        background-position: 1.25rem 1.25rem;
        background-repeat: no-repeat;
        background-size: 1.25rem;
        & + label {
          opacity: 0;
        }
      }
    }
  }

  button {
    background: $sunset-orange;
    border: 0;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    margin: 0 0 1.25rem;
    padding: 1.25rem;
    transition: 0.25s;
    width: 100%;

    &:hover,
    &:focus {
      border-color: adjust-hue($sunset-orange, 45deg);
    }
  }

  .fill:hover,
  .fill:focus {
    box-shadow: inset 0 -3.25em 0 0 adjust-hue($white, 45deg);
    color: $sunset-orange;
  }
}

table {
  border: 1px solid $gallery-white;
  border-bottom: 2px solid $gallery-white;
  border-collapse: collapse;
  box-shadow: 0rem 0rem 1.25rem rgba(0,0,0,0.10),
  0rem 0.625rem 1.25rem rgba(0,0,0,0.05),
  0rem 1.25rem 1.25rem rgba(0,0,0,0.05),
  0rem 1.875rem 1.25rem rgba(0,0,0,0.05);
  font-family: 'Raleway', sans-serif;
  width: 27.5rem;

  tr {
    &:hover {
      background: $white;

      td {
        color: $sunset-orange;
      }
    }
  }

  th, td {
    border: 1px solid $gallery-white;
    border-collapse: collapse;
    color: $white;
    padding: 0.75rem 2.187rem;
  }

  th {
    background: $mariner;
    color: $white;
    font-size: 0.75rem;
    text-transform: uppercase;
    &.last {
      border-right: none;
    }
  }
}

button {
  background: $sunset-orange;
  border: 0;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  margin: 0.5rem 0 1.25rem;
  padding: 1.25rem;
  transition: 0.25s;
  width: 100%;

  &:hover,
  &:focus {
    border-color: adjust-hue($sunset-orange, 45deg);
  }
}

.raise:hover,
.raise:focus {
  background-color: $white;
  color: $sunset-orange;
  box-shadow: 0 0.5em 0.5em -0.4em $white;
  transform: translateY(-0.5em);
}

.pairs li {
  border: 1px solid $white;
  list-style-type: none;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $white;
    color: $sunset-orange;
  }
}

.github-corner:hover
.octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes
octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover
  .octo-arm {
    animation: none;
  }

  .github-corner
  .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
