<!DOCTYPE html>
<html>
  <head>
    <title>:two</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400" rel="stylesheet">
  </head>

  <body>
    <header role="banner">
      <h1 class="logo"><a href="/">:two</a><sub> made by Aierstuck</sub></h1>
    </header>
    <main id="root"/>
    <%= javascript_pack_tag('application') %>
  </body>
</html>
