<!DOCTYPE html>
<html>
  <head>
    <title>two</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header role="banner">
      <h1>two</h1>
    </header>
    <main id="root"/>
    <%= javascript_pack_tag('application') %>
  </body>
</html>
